﻿@using Microsoft.Extensions.Options;
@using Umbraco.Web.WebAssets
@using Umbraco.Web.Common.Security
@using Umbraco.Core.WebAssets
@using Umbraco.Core.Configuration
@using Umbraco.Core.Configuration.Models
@using Umbraco.Core.Hosting
@using Umbraco.Extensions
@using Umbraco.Core.Logging
@using Umbraco.Web.BackOffice.Controllers
@inject BackOfficeSignInManager signInManager
@inject BackOfficeServerVariables backOfficeServerVariables
@inject IUmbracoVersion umbracoVersion
@inject IHostingEnvironment hostingEnvironment
@inject IOptions<GlobalSettings> globalSettings
@inject IRuntimeMinifier runtimeMinifier
@inject IProfilerHtml profilerHtml


@model Umbraco.Web.Editors.BackOfficePreviewModel
@{
    var disableDevicePreview = Model.DisableDevicePreview.ToString().ToLowerInvariant();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Umbraco Preview</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="pinterest" content="nopin" />

    @Html.Raw(await runtimeMinifier.RenderCssHereAsync(BackOfficeWebAssets.UmbracoPreviewCssBundleName))

</head>
<body id="canvasdesignerPanel" ng-mouseover="outlinePositionHide()" ng-controller="previewController" ng-class="{'tabbing-active': tabbingActive === true}" ng-click="windowClickHandler($event)">
    <div class="wait" ng-show="!frameLoaded"></div>

    @if (!string.IsNullOrWhiteSpace(Model.PreviewExtendedHeaderView))
    {
        @await Html.PartialAsync(Model.PreviewExtendedHeaderView)
    }

    <div id="demo-iframe-wrapper" class="{{previewDevice.css}}">
        <preview-i-frame src="pageUrl" on-loaded="onFrameLoaded(iframe)"></preview-i-frame>
    </div>
    <div class="canvasdesigner" ng-init="showDevicesPreview = true; showDevices = !@(disableDevicePreview);" ng-mouseenter="positionSelectedHide()">
        <div class="menu-bar selected">

            <div class="menu-bar__title">Preview Mode</div>

            <div class="menu-bar__right-part">

                <div class="preview-menu-option" ng-class="{'--open': sizeOpen === true}" ng-click="$event.stopPropagation()">
                    <button class="menu-bar__button umb-outline" ng-click="toggleSizeOpen()"><i class="icon {{previewDevice.icon}}"></i><span>{{previewDevice.title}}</span></button>
                    <div class="dropdown-menu">
                        <button ng-repeat="device in devices" class="menu-bar__button umb-outline" ng-class="{ '--active':previewDevice === device }" ng-click="updatePreviewDevice(device)">
                            <i class="icon {{device.icon}}"></i><span>{{device.title}}</span>
                        </button>
                    </div>
                </div>

                @if (Model.Languages != null && Model.Languages.Count() > 1)
                {
                    <div class="preview-menu-option" ng-class="{'--open': cultureOpen === true}" ng-click="$event.stopPropagation()">
                        <button class="menu-bar__button umb-outline" ng-click="toggleCultureOpen()"><i class="icon icon-globe-europe---africa"></i><span>{{currentCulture.title}}</span></button>
                        <div class="dropdown-menu">
                            @foreach (var language in Model.Languages)
                            {
                                <button class="menu-bar__button umb-outline" ng-class="{ '--active': currentCultureIso === '@language.IsoCode' || (@language.IsDefault.ToString().ToLower() && currentCultureIso === null) }" ng-click="changeCulture('@language.IsoCode')" ng-init="registerCulture('@language.IsoCode', '@language.CultureName', @language.IsDefault.ToString().ToLower())">
                                    <i class="icon icon-globe-europe---africa"></i><span>@language.CultureName</span>
                                </button>
                            }
                        </div>
                    </div>
                }

                <button ng-click="exitPreview()" title="Exit Preview" class="menu-bar__button umb-outline">
                    <i class="icon icon-power"></i><span>Exit</span>
                </button>

            </div>
        </div>

    </div>

    <script src="../lib/lazyload-js/LazyLoad.min.js"></script>
    <script src="@Url.GetUrlWithCacheBust("Application", "Preview", null, hostingEnvironment, umbracoVersion, runtimeMinifier)"></script>

</body>
</html>
